body {
    margin: 0;
    padding: 0;

}
.container {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.head {
    background-color: cornflowerblue;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo {
    height: 70px;
    width: 70px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: purple;
}
.menu1 {
    display: flex;
}
.menu {
    height: 40px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: purple;
    width: 100px;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    color: white;

}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #9b9b9b;
    padding: 25px;
}
.three_block, .two_block {
    display: flex;
}
.block2 {
    flex: 0 1 50%;
    padding: 15px;
    background-color: mediumpurple;
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: 20px;
}
.bl {
    margin-right: 20px;
}
.block22 {
    background-color: orange;
    height: 100px;
    border-radius: 10px;
}
.block3 {
    flex: 0 1 33.333%;
    padding: 15px;
    background-color: mediumpurple;
    border: 2px solid blue;
    border-radius: 7px;
    margin-bottom: 20px;
}
.block33 {
    background-color: orange;
    height: 80px;
    border-radius: 10px;
}

/*=======================================*/

/*@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: none;
    }
    .two_block, .three_block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bl {
        margin-right: 0;
    }
}*/

/*=======================================*/

/*@media (max-width: 650px) {
    .two_block, .three_block {
        flex-direction: column;
        align-items: center;
    }
    .bl {
        margin-right: 0;
    }
}*/


